<% if obj.errors.any? %>
  <div class="container">
    <div class="row">
      <div class="row justify-content-center">
        <div class="col-5">
          <div class="shadow-lg p-3 mt-1 rounded err">
            <strong><%= pluralize(obj.errors.count, "error") %>
              prohibited our profile from being created</strong>
            <ul>
              <% obj.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>