<div class="row mt-4">
  <div class="col-12"><h2 class="text-center">Course Listing</h2></div>
</div>

<div class="container text-center">
  <div class="row justify-content-center">
    <% @courses.each do |course| %>
      <div class="col mt-4">
        <div class="card" style="width: 25rem;">
          <div class="card-body">
            <h5 class="card-title"><%= course.title %></h5>
            <h6 class="card-subtitle mb-2"><em><%= course.subtitle %></em></h6>
            <p class="card-text"><%= course.description %></p>
            <hr/>
            <% if logged_in? && !current_user.courses.include?(course) %>
              <%= button_to "Enroll", course_enroll_path(course_id: course.id), class: "card-link enroll-butt", form: {style: 'display:inline-block;'}%>
            <% end %>
            <a href="#" class="card-link">Info</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>



